server:
  port: 8000
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:h2:mem:test
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create
  output:
    ansi:
      enabled: always

logging:
  level:
    root: DEBUG
